body {
   padding: 0;
   color: #fff;
   background-color: #111;
   text-align: center;
}

#canvas {
   width: 1200px;
   height: 700px;
   margin: 0 auto;
}

#loading-txt {
   position:absolute;
   left:48%;
   margin-top: -20%;
}
